extends layout

block content
  #wrapper
    #sidebar-panel
      li
        a(href="/") Dashboard
      li
        a(href="/feed") Feed
      li
        a(href="/business") Business
    #topbar-panel
      li
        a(href="/login") Sign In
      li
        a(href="/register") Register
    #couponbar-panel
      h2 Coupon
    #promotionbar-panel
      h2 Promotion
    #salesbar-panel
      h2 Sales
    #footerbar-panel
      h5 Designed and created by: Kelvin Lim